.TouchSplitter.hTS {overflow-x:hidden;}
.TouchSplitter.vTS {overflow-y:hidden;}

.TouchSplitter.hTS>div{height: 100%;width: 46%;}
.TouchSplitter.vTS>div{width: 100%;height: 46%;}
.TouchSplitter>div {
	display: block;
	margin:0;
	padding:0;
	float:left;}
	.TouchSplitter.hTS>div.splitter-bar {width:8%;cursor:col-resize}
	.TouchSplitter.vTS>div.splitter-bar {height:8%;cursor:row-resize}
	.TouchSplitter>div.splitter-bar>span.dock-toggle {
		background-image: url(/static/graphics/vdockbar-trans.gif);
		background-repeat: no-repeat;
		background-position: center;}

.TouchSplitter,
.TouchSplitter>div.splitter-bar>div{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;}

.TouchSplitter>div.splitter-bar>div{
	width:24px;height:24px;
}